@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;400&display=swap');
#filter{
    margin-left: 94px;
}
#filter-title{
    font-family: Gluten;
    font-size: 30px;
    font-weight: bold;
    color: #35201C;
    margin-bottom: 40px;
   
}
#filter-title:hover{
    color: #6A4139;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.checkbox:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.brands{
    font-family: Gluten;
    font-size: 20px;
    font-weight: normal;
    color: #192024;
    margin-left: 10px;
    margin-right: 24px;
    vertical-align: text-top;
    

}
@media screen and (max-width:550px){
    .brands{
    font-family: Gluten;
        font-size: 13px;
        font-weight: normal;
        color: #192024;
        margin-left: 10px;
        margin-right: 24px;
        vertical-align: text-top;
    }


}